{%load static%}
{%load humanize%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro de usuario</title>

        <link href="{% static 'css/login/password_reset.css' %}" rel="stylesheet" >
    </head>
    <body>

        <div class="contenedor">

            <h3> Cambio de contraseña completo </h3>

            <p> Su contraseña ha sido cambiada, ahora puede iniciar sesion. </p>

            <a href="/">Iniciar sesion</a>
           
        </div>
        
    </body>

</html>

