{%load static%}
{%load humanize%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro de usuario</title>

        <link href="{% static 'css/login/registro.css' %}" rel="stylesheet" >
    </head>
    <body>

        <form class="form" method="post">{% csrf_token %}
        
            <div class="registro">

                <h1>Registro de usuario</h1>

                {{ form.as_p }}
        
                <button class="enviar" type="submit" id="submit">Registrarse</button>

            </div>

        
        </form>
        
    </body>
</html>




    

