.map button.btn.pop.uno, .map a.btn.pop.uno {
    left: 30.6%;
    top: 40.4%;
}


.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 18.6%;
    top: 58.3%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 41.3%;
    top: 25.2%;
}

.map button.btn.pop.cuatro, .map a.btn.pop.cuatro {
    left: 76.6%;
    top: 24.4%;
}

.map button.btn.pop.cinco, .map a.btn.pop.cinco {
    left: 69%;
    top: 44%;
}