.map button.btn.pop.uno, .map a.btn.pop.uno {
    left: 28.9%;
    top: 36.5%;
}


.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 47.7%;
    top: 81.5%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 54.2%;
    top: 67.8%;
}

.map button.btn.pop.cuatro, .map a.btn.pop.cuatro {
    left: 44.7%;
    top: 10.9%;
}

