
.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 75.5%;
    top: 77.5%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 23%;
    top: 56.1%;
}

.map button.btn.pop.cuatro, .map a.btn.pop.cuatro {
    left: 73.7%;
    top: 27%;
}

.map button.btn.pop.cinco, .map a.btn.pop.cinco {
    left: 80.5%;
    top: 33.4%;
}

.map button.btn.pop.seis, .map a.btn.pop.seis {
    left: 50.2%;
    top: 40.5%;
}

.map button.btn.pop.siete, .map a.btn.pop.siete {
    left: 66.7%;
    top: 17.2%;
}
