.map button.btn.pop.uno, .map a.btn.pop.uno {
    left: 18.1%;
    top: 30%;
}


.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 25.8%;
    top: 37%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 28.2%;
    top: 65%;
}

.map button.btn.pop.cuatro, .map a.btn.pop.cuatro {
    left: 38.8%;
    top: 10%;
}

.map button.btn.pop.cinco, .map a.btn.pop.cinco {
    left: 69.8%;
    top: 10.2%;
}

.map button.btn.pop.seis, .map a.btn.pop.seis {
    left: 76.9%;
    top: 58.9%;
}

.map button.btn.pop.siete, .map a.btn.pop.siete {
    left: 76.9%;
    top: 58.9%;
}
