.map button.btn.pop.uno, .map a.btn.pop.uno {
    left: 55.2%;
    top: 43.6%;
}


.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 50.45%;
    top: 37.2%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 51.2%;
    top: 50.5%;
}

.map button.btn.pop.cuatro, .map a.btn.pop.cuatro {
    left: 73.5%;
    top: 41.4%;
}

.map button.btn.pop.cinco, .map a.btn.pop.cinco {
    left: 72.7%;
    top: 18%;
}

.map button.btn.pop.seis, .map a.btn.pop.seis {
    left: 30.5%;
    top: 9.7%;
}

.map button.btn.pop.siete, .map a.btn.pop.siete {
    left: 34.6%;
    top: 53.9%;
}
