.map button.btn.pop.uno, .map a.btn.pop.uno {
    left: 24.4%;
    top: 11.9%;
}


.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 28.9%;
    top: 15.5%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 37.6%;
    top: 35%;
}

.map button.btn.pop.cuatro, .map a.btn.pop.cuatro {
    left: 50.3%;
    top: 9%;
}

.map button.btn.pop.cinco, .map a.btn.pop.cinco {
    left: 65.3%;
    top: 10.4%;
}

.map button.btn.pop.seis, .map a.btn.pop.seis {
    left: 51.9%;
    top: 29.1%;
}

.map button.btn.pop.siete, .map a.btn.pop.siete {
    left: 48.8%;
    top: 67.8%;
}

