.map button.btn.pop.uno, .map a.btn.pop.uno {
    left: 45.5%;
    top: 11.4%;
}


.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 71.4%;
    top: 22.5%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 18.6%;
    top: 1.4%;
}

.map button.btn.pop.cuatro, .map a.btn.pop.cuatro {
    left: 79.8%;
    top: 37.4%;
}

.map button.btn.pop.cinco, .map a.btn.pop.cinco {
    left: 79.4%;
    top: 43.2%;
}

.map button.btn.pop.seis, .map a.btn.pop.seis {
    left: 79.6%;
    top: 53.3%;
}

.map button.btn.pop.siete, .map a.btn.pop.siete {
    left: 75.1%;
    top: 66.3%;
}




