.map button.btn.pop.uno, .map a.btn.pop.uno {
    left: 42.8%;
    top: 10.4%;
}


.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 68.8%;
    top: 23.5%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 15.9%;
    top: 0.2%;
}

.map button.btn.pop.cuatro, .map a.btn.pop.cuatro {
    left: 77.2%;
    top: 40.4%;
}

.map button.btn.pop.cinco, .map a.btn.pop.cinco {
    left: 76.8%;
    top: 47.2%;
}

.map button.btn.pop.seis, .map a.btn.pop.seis {
    left: 76.9%;
    top: 58.9%;
}

