.map button.btn.pop.uno, .map a.btn.pop.uno {
    left: 58%;
    top: 80.6%;
}


.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 75.7%;
    top: 34.2%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 44.9%;
    top: 21.1%;
}
