.map button.btn.pop.uno, .map a.btn.pop.uno {
    left: 71.8%;
    top: 38.4%;
}


.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 61.2%;
    top: 72.8%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 35.3%;
    top: 84.4%;
}

.map button.btn.pop.cuatro, .map a.btn.pop.cuatro {
    left: 70.2%;
    top: 24.1%;
}


