.map button.btn.pop.uno, .map a.btn.pop.uno {
    left: 55.5%;
    top: 4.7%;
}


.map button.btn.pop.dos, .map a.btn.pop.dos {
    left: 22.5%;
    top: 5.2%;
}

.map button.btn.pop.tres, .map a.btn.pop.tres {
    left: 70.6%;
    top: 89.6%;
}


